body {
    background-color: #e0e0e0;
    color: #142b3b;
    font-family: Avant Garde, sans-serif;
    border-width: thick;
    border-style: dashed;
    border-color: #CE1126;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px
}

#line-spacer {
    border: none;
    height: 2px;
    background-color: #CE1126;
    margin-top: 20px;
    margin-bottom: 20px;
}

#table {
    border-collapse: collapse;
    display: flex;
    justify-content: center;
}

th, td {
    border: 2px dashed #CE1126;
    padding: 10px;
}

#text {
    font-size: xxx-large;
    border: 3px dashed #CE1126;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 5px;
}

img {
    width: 100%;
}

a[href*="https://www.frhsd.com/"] {
    color: #CE1126;
}

ol>li {
    color: royalblue;
}

ul>li {
    color: royalblue;
}

a:visited {
    color: beige;
}

li:hover {
    background-color: #0038A8;
    color: #CE1126;
    font-weight: bold;
}

li + li {
    color: #CE1126;
}

.list-item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 3px dashed #CE1126;
    margin: 10px;
    width: 25%;
    padding-left: 10px;
}

#gridBox {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    gap: 12px;
    img {
        grid-column: span 3;
        grid-row: span 3;
        height: 100%;
        width: 100%;
    }
    p {
        grid-column: span 2;
        grid-row: span 2;
    }
    a {
        grid-column: span 1;
        grid-row: span 1;
    }
}